@using PersonalBlog.Web.Enums
@model PersonalBlog.Web.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <strong class="label label-primary pull-right">Change Password <span class="fa fa-key"></span></strong>
</div>
@Html.AntiForgeryToken()
@using (Html.BeginForm("ChangePassword", "Auth", FormMethod.Post, new { @class = "form-horizontal row center-block", @style = "padding:15px;" }))
{
    <fieldset>
        @Html.HiddenFor(model => Model.UserId)
        <div class="form-group spacer-2">
            @Html.LabelFor(model => Model.OldPassword, new { @class = "label label-primary" })
            @Html.PasswordFor(model => Model.OldPassword, new {@class="form-control"})
            @Html.ValidationMessageFor(model => Model.OldPassword, null, new { @class = "label label-primary pull-right" })
        </div>
        
        <div class="form-group spacer-2">
            @Html.LabelFor(model => Model.NewPassword, new { @class = "label label-primary" })
            @Html.PasswordFor(model => Model.NewPassword, new {@class="form-control"})
            @Html.ValidationMessageFor(model => Model.NewPassword, null, new { @class = "label label-primary pull-right" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => Model.RepeatNewPassword, new { @class = "label label-primary" })
            @Html.PasswordFor(model => Model.RepeatNewPassword, new {@class="form-control"})
            @Html.ValidationMessageFor(model => Model.RepeatNewPassword, null, new { @class = "label label-primary pull-right" })
        </div>

        <div class="form-group pull-right" style="margin-top: 10px;">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </fieldset>
}
<div class="row center-block font-10">
    @if (ViewBag.Result == PageResponseCode.Error)
    {
        <div class="alert alert-danger">
            @Html.Raw(ViewBag.Message)
        </div>
    }
    @if (ViewBag.Result == PageResponseCode.Success)
    {
        <div class="alert alert-success">
            @Html.Raw(ViewBag.Message)    
        </div>
    }
</div>
