@using PersonalBlog.Web.Enums
@using PersonalBlog.Web.ViewModels
@model ViewModelCollection
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <strong class="label label-primary pull-right">Tag Control <span class="fa fa-hashtag"></span></strong>
</div>

<div class="row">
    @Html.AntiForgeryToken()
    @using (Html.BeginForm("Create", "Tag", FormMethod.Post, new { @class = "form-inline center-block", @style="margin-bottom: 15px;"}))
    {
        <fieldset>
            @Html.HiddenFor(q => Model.GetModel<TagViewModel>().Id)
            <div class="form-group">
                <div class="col-md-3">
                    @Html.TextBoxFor(q => Model.GetModel<TagViewModel>().Name, new {@class = "form-control", @placeholder = "#", @Id="Hashtag"})
                    @Html.ValidationMessageFor(q => Model.GetModel<TagViewModel>().Name, null, new {@class = "label label-primary pull-right"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    @Html.TextBoxFor(q => Model.GetModel<TagViewModel>().Description, new { @class = "form-control", @placeholder = "Description" })
                    @Html.ValidationMessageFor(q => Model.GetModel<TagViewModel>().Description, null, new { @class = "label label-primary pull-right" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <input id="Add" type="submit" class="btn btn-primary" value="Add" />
                </div>            
            </div>
        </fieldset>
    } 
    <div class="form-group">
        <div class="col-md-2">
            @if (ViewBag.Result == PageResponseCode.Error)
            {
                <div class="alert alert-danger">
                    @Html.Raw(ViewBag.Message)
                </div>
            }

            @if (ViewBag.Result == PageResponseCode.Success)
            {
                <div class="alert alert-success">
                    @Html.Raw(ViewBag.Message)
                </div>
            }
        </div>
    </div>  
</div>

@if (Model.GetModel<List<TagViewModel>>().Count == 0)
{
    @RenderPage("_EmptyTablePartial.cshtml")
}
else
{
    <div class="row text-center">
        <table class="table table-hover">
            <thead>
            <tr class="bg-primary text-primary">
                <td>Name</td>
                <td>Description</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var tag in Model.GetModel<List<TagViewModel>>())
            {
                <tr class="text-primary">
                    <td>@Html.DisplayFor(q => tag.Name)</td>
                    <td>@Html.DisplayFor(q => tag.Description)</td>
                    <td>
                        <a class="col-md-1 btn btn-primary btn-block fa fa-ban" href="@Url.Action("Delete", "Tag", new {deleteTagId = tag.Id})"></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>    
}

@section scripts {
    <script>
        $(document).keypress(function(e){
            if (e.which == 13){
                $('#Add').click();
            }
        });
    </script>
}