<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>_Layout</title>
    @Styles.Render("~/Style/Vendor")
</head>
    <body background="~/Content/images/site-background.jpg">
        @RenderPage("~/Views/Shared/_Navbar.cshtml")

        @RenderBody()
    </body>
</html>

@Scripts.Render("~/Script/Jquery")
@Scripts.Render("~/Script/Vendor")